#pet {
    height: 500px;
    width: 350px;
    border: solid black 3px;
    border-radius: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pet-screen {
    height: 175px;
    width: 250px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
  }

  .sprite {
    width: 45px;
    height: 36px;
    display: none;
    background-image: url(assets/images/egg-idle1.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    animation: egg-idle 1.0s steps(2) infinite;
  }

  @keyframes egg-idle {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -72px;
    }
  }
  
  .sprite.hatching {
    display: none;
    background-image: url(assets/images/egg-hatching1.png);
    animation: egg-hatching 5.0s steps(5) 1;
    background-position: 0px 0px;
  }

  @keyframes egg-hatching {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 0px -180px;
    }
  }

  .sprite.baby-idle {
    display: none;
    background-image: url(assets/images/baby-idle1.png);
    animation: baby-idle 2.5s steps(5) infinite;
    background-position: 0px 0px;
  }

  @keyframes baby-idle {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 0px -180px;
    }
  }

  .button {
    margin: 20px 20px 100px;
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 50%
  }