#pet {
    height: 800px;
    width: 600px;
    border: solid black 3px;
    border-radius: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pet-screen {
    height: 250px;
    width: 400px;
    border: solid black 1px;
    display: flex;
    margin: 100px;
  }
  
  .button {
    margin: 50px 25px 150px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 50%
  }