#pet {
    height: 600px;
    width: 400px;
    border: solid black 3px;
    border-radius: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pet-screen {
    height: 200px;
    width: 275px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
  }

  .sprite {
    width: 45px;
    height: 36px;
    display: flex;
    background-image: url(assets/images/egg-idle1.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    animation: egg-idle1 0.9s steps(2) infinite;
  }

  @keyframes egg-idle1 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -72px;
    }
  }
  
  

  .button {
    margin: 20px 25px 100px;
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 50%
  }